.btn button{
    color: var(--color-font-primary);
    background-color: var(--color-bg-secondary);
    height: 40px;
    font-size: 16px;
    padding: 8px 18px ;
    width: 101px;
    border-radius: 4px;
    margin-top: 27px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}